/* This file will keep track of all the variables
*
*/

// ======= COLORS ========
$primary-color: blue;
$secondary-color: grey;
$ternary-color: yellow;
$OFF-WHITE: #fefefe;
$DARKER_BLUE: #4d82c3;
$NAVY_BLUE: #334976;
$YELLOW: #e8d677;
$PURPLE: #514f87;
$red: red;
$ORANGE: #df7d38;
// $background-color:

// ======== BREAK POINTS =====
$break-small: 409px;
$break-medium: 770px;
$break-large: 1000px;
